<header class="navbar-fixed-c">
  <nav class="navbar navbar-expand-lg pragma-colors  ">
    <a class="navbar-brand">Tournament Creator</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown  navbar-expand-lg">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div> -->
  </nav>
</header>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 barside-fixed-c">
      <div class="card" style="width: 18rem;">
        <div class="card-header pragma-colors">
          Menu
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item pragma-item">Torneos</li>
          <li class="list-group-item pragma-item">Jugadores</li>
          <li class="list-group-item pragma-item">Equipos</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <main class="position-sticky">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur facere aut maiores,
        dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum aut expedita?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur facere aut
        maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum aut
        expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur facere
        aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aperiam ea. Nam quis nesciunt tenetur
        facere aut maiores, dolores, distinctio fuga maxime officiis exercitationem perferendis similique. Obcaecati voluptatum
        aut expedita?
      </main>
    </div>
  </div>

</div>
